#nblogo {
   height:45px;
   width: 290px;
   padding: 2px 2px 2px 2px;
   position: fixed;
   left: 2px;
   top: 8px;
}

#Cclogo {
   height:50px;
   width: 250px;
   padding: 2px 2px 2px 2px;
   position:fixed;
   right: 2px;
   top: 8px;
}

#title{
    font-family:'Times New Roman';
    font-size: 35px;
    text-align: center;
    color: rgb(44, 18, 192);
    top: 0px;
    width: auto;
    height: auto;
}

#map { 
    height: 800px;
   }